configuration {
    modi: "drun,run";
    font: "mono 10";
    show-icons: true;
}

/* style the window */
window {
    width: 30%;
    location: center;
    y-offset: 0;
    x-offset: 0;
    anchor: center;
    fullscreen: false;
    border: 0;
    padding: 5;
    border-radius: 5;
}

