#battery_state {
    background-color: alpha(@gradient-6, 0.3);
}

#battery.medium {
    color: @warning-color;
    border-bottom-color: @warning-color;
}

#battery.charging {
    color: @okay-color;
    border-bottom-color: @okay-color;
}

#battery.low {
    color: @critical-color;
    border-bottom-color: @critical-color;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
