#network_state,
#system_state,
#sound_state,
#backlight_state,
#battery_state,
#clock_state {
    border-radius: 8px;
    margin: 0 2px;
}

#backlight,
#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature {
    background-color: transparent;
    padding: 7px 7px;
    margin: 0 8px;
}

